<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="12">
          <div style="margin: 5px;">
            <p-progressBar [value]="barraProgreso"></p-progressBar>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <h1 class="encabezado centrado">{{"QUESTIONNAIRE" | translate}}</h1>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="12">
          <p-accordion>
            <ng-container
              *ngFor="let area of ticketService.ticketInformation.recoleccionDatos.idiomaFiltradoCheckedPerfil.areas">
              <ng-container *ngFor="let cat of area.categorias">
                <p-accordionTab>
                  <ng-template pTemplate="header">{{ cat.nombre }} | {{ cat.descripcion }}</ng-template>
                  <ng-template pTemplate="content">
                    <ng-container *ngFor="let pregunta of cat.preguntas">
                      <ion-list>
                        <ion-radio-group [value]="pregunta.respuestaSeleccionada" allow-empty-selection="false"
                          (ionChange)="pregunta.respuestaSeleccionada = $event.detail.value; recalcularProgressBar()">
                          <ion-list-header>
                            <ion-label>
                              <p class="question">
                                {{ pregunta.pregunta }}
                              </p>
                            </ion-label>
                          </ion-list-header>
                          <ng-container *ngFor="let respuesta of pregunta.respuestas">
                            <ion-item>
                              <ion-label>
                                <p class="answer">
                                  {{ respuesta.respuesta.respuesta }}
                                </p>
                              </ion-label>
                              <ion-radio [value]="respuesta"></ion-radio>
                            </ion-item>
                          </ng-container>
                        </ion-radio-group>
                      </ion-list>
                    </ng-container>
                  </ng-template>
                </p-accordionTab>
              </ng-container>
            </ng-container>
          </p-accordion>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-button expand="block" color="primary" (click)="onBackPage()">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col col-6>
            <ion-button expand="block" color="primary" (click)="onNextPage()">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
</ion-app>