<ion-app>
  <ion-content>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="10">

            <div *ngFor="let area of ticketService.ticketInformation.explicacion.idiomaSeleccionado.areas">
              <div *ngFor="let cat of area.categorias">
                <ng-container *ngIf="cat.isChecked">
                  <p-accordion [multiple]="true">
                    <p-accordionTab>
                      <ng-template pTemplate="header"><b>{{ cat.nombre }}</b>| {{ cat.descripcion }}</ng-template>
                      <!-- Questions -->
                      <ng-template pTemplate="content">
                        <div *ngFor="let pregunta of cat.preguntas">
                          <ng-container *ngIf="ticketService.ticketInformation.recoleccionDatos.perfilUsuario == pregunta.perfil.perfil">
                            <ion-list>
                              <ion-radio-group allow-empty-selection="false" (ionChange)="respuestaGroupChange($event.detail.value,pregunta.recomendacion)">
                                <ion-list-header>
                                  <ion-label>
                                    <p class="question">
                                      {{ pregunta.pregunta }}
                                    </p>
                                  </ion-label>
                                </ion-list-header>
                                <!-- Answers down below -->
                                <div *ngFor="let respuesta of pregunta.respuestas">
                                  <ion-item>
                                    <ion-label >
                                      <p class="answer">
                                        {{ respuesta.respuesta.respuesta }}
                                      </p>
                                    </ion-label>
                                    <ion-radio [value]="respuesta.puntuacion"></ion-radio>
                                  </ion-item>
                                </div>
                              </ion-radio-group>
                            </ion-list>

                          </ng-container>
                        </div>

                      </ng-template>
                    </p-accordionTab>
                  </p-accordion>
                </ng-container>
              </div>
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-button expand="block" color="dark" (click)="onBackPage()">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col col-6>
            <ion-button expand="block" color="primary" (click)="onNextPage()">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
</ion-app>

<!-- <div class="tab group">
  <div class="tab">
    <div *ngFor="let idioma of ticketService.ticketInformation.data.allDataRest">
      <div *ngFor="let area of idioma.areas">
        <div *ngFor="let cat of area.categorias">
          <label for="tab-one" >
            <p> <b>{{ cat.nombre }} </b> {{ cat.descripcion }}</p>
          </label>
          Questions down below
          <div class="tab-content">
            <div *ngFor="let pregunta of cat.preguntas">
              <ion-list>
                <ion-radio-group allow-empty-selection="false" (ionChange)="respuestaGroupChange($event.detail.value, pregunta)">
                  <ion-list-header>
                    <ion-label>
                      <p class="question">{{ pregunta.pregunta }} </p>
                    </ion-label>
                  </ion-list-header>
                  Answers down below
                      <div *ngFor="let respuesta of pregunta.respuestas">
                        <ion-item (click)="showRec(pregunta.recomendacion)">
                          <ion-label>{{ respuesta.respuesta.respuesta }}</ion-label>
                          <ion-radio [value]="respuesta"></ion-radio>
                        </ion-item>
                      </div>
                </ion-radio-group>
              </ion-list>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div> -->
