<ion-app>
  <ion-content>
    <h1 class="encabezado centrado">{{"RESULTS" | translate}}</h1>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h4 style="text-align: center;"><b>{{"GRAPH_REC_WARNING" | translate}}</b></h4>
          <p-divider></p-divider>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <p-tabView (onChange)="indexTabPanel = $event.index">
            <p-tabPanel [header]="area.nombre"
              *ngFor="let area of ticketService.ticketInformation.recoleccionDatos.idiomaFiltradoCheckedPerfil.areas; let i = index"
              [selected]="i == indexTabPanel">
              <ng-container *ngFor="let cat of area.categorias">
                <ion-card style="margin: -15px; margin-top: 0px; margin-bottom: 5px;">
                  <ion-item class="ion-activated">
                    <ion-label><b>{{cat.nombre}}</b>| {{cat.descripcion}}</ion-label>
                  </ion-item>
                  <ion-card-content>
                    <ol style="margin-left: -25px;">
                      <li style="font-weight: bold !important; font-size: 15px !important;" *ngIf="comprobarRecomendacionCategoria(cat)" [innerHTML]="cat.recomendacion"></li>
                      <ng-container *ngFor="let pregunta of cat.preguntas">
                        <ng-container *ngIf="pregunta.puntuacionRecomendacion >= pregunta.respuestaSeleccionada.puntuacion">
                          <li style="font-weight: bold !important; font-size: 15px !important;" [innerHTML]="pregunta.recomendacion"></li>
                        </ng-container>
                      </ng-container>
                    </ol>
                  </ion-card-content>
                </ion-card>
              </ng-container>
            </p-tabPanel>
          </p-tabView>
        </ion-col>
      </ion-row>
      <p-divider></p-divider>
      <p-fieldset legend="{{ 'GRAPH' | translate}}">
        <ion-row class="ion-justify-content-center">
          <ion-col size="12">
            <p>{{"EXPL_GRAPH" | translate}}</p>
            <p-divider></p-divider>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-md="10">
            <div>
              <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
            </div>
          </ion-col>
        </ion-row>
      </p-fieldset>
    </ion-grid>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <div class="centrado">
              <ion-button color="primary" (click)="downloadPDF()">
                <ion-icon name="download-outline"></ion-icon>{{"DOWNLOAD" | translate}}
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
</ion-app>