@media(max-width: 768px) {
  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: block;
  }
}

@media(min-width: 768px) {
  .desktop-header {
    display:block;
  }

  .mobile-header {
    display: none;
  }
}

