<!-- Estructurar contenido en ion content e ion header -->
<ion-app>
  <div>
    <h1 class="encabezado centrado">Escaneo Rápido: Instrucciones</h1>
    <div class="magin10">
      <h2>Para realizar el cuestionario sigue los siguientes pasos: </h2>
      <ol>
        <li>Escoge tu idioma</li>
        <li>Selecciona las categorías deseadas</li>
        <li>Indica tu perfil</li>
        <li>Ya puedes realizar el cuestionario</li>
        <li>Después, podrás ver los resultados</li>
      </ol>
      <p>Si deseas, adicionalmente podrás guardar los resultados del cuestionario en tu dispositivo.</p>
    </div>
    <div class="margin10">
      <ion-item>
        <ion-label>Selecciona un idioma</ion-label>
        <ion-select [value]="ticketService.ticketInformation.explicacion.idiomaSeleccionado.nombre" (ionChange)="onIdiomaSelectChange($event.target.value)">
          <ion-select-option *ngFor="let idioma of ticketService.ticketInformation.data.idiomasDisponibles" [value]="idioma">{{idioma}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
  <ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <div class="centrado">
              <ion-button color="primary" (click)="onNextPage()"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
</ion-app>


<!--<ion-grid>
  <ion-row>
    <ion-col col-12>


    </ion-col>
  </ion-row>
</ion-grid>-->
